@font-face {
    font-family: 'mainFont';
    src: url('fonts/VarelaRound-Regular.ttf') format('truetype'); /* Legacy Browsers */
}
body{
    background-color: #C2D5B9 !important;
}
/*_______________________*/
/*       Parallax        */
/*_______________________*/
.parallax, .ground{
    position: relative;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallax img{
    position: absolute;
    top: -5%;
    left: -3%;
    width: 106%;
    height: 105%;
    object-fit:cover;
    transition: transform ease-out;
}

.sec{
    padding-top: 1rem;
    background-color: #193F40;
    color: #adbea4;
}

.parallax img#birds{
    animation: fly 60s linear infinite;
}


/*_______________________*/
/*       NAVBAR          */
/*_______________________*/

.header{
    margin-top: -100px;
    position: absolute;
    color: #a0ad99;
    font-weight: 900;
    font-size: 6rem;
    text-shadow: 6px 3px rgba(2, 2, 2, 0.6);
}
.nav-background{
    margin-top: 10px;
    min-width: 95vw;
    max-width: 95vw;
    margin-left: 2.5vw;
    position: fixed !important;
    background-color: #C2D5B9;
    box-shadow: 20px 10px 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 5;
    border-radius: 10px;
    font-family: mainFont;
}

::-webkit-scrollbar {
    width: 1px; /* Adjust as needed */
    background-color: #193F40;
}

::-webkit-scrollbar-thumb {
    background-color: #193F40; /* Hide the scrollbar thumb */
}

/*_______________________*/
/*       CARDS           */
/*_______________________*/

.text{
    background-color: #193F40;
    color:aliceblue;
    font-family: mainFont;
}

.texture-card{
    background-color:#C2D5B9 !important;
    padding: 10px 20px 20px;
    border-radius: 15px !important;
    color: #193F40;
    margin-top: 2rem;
    left: 100vw;
    font-family: mainFont;
}
/*
.texture-card:hover{
    animation: heavy-mouse 0.4s forwards ease-in-out ;
}
*/
.card-slide{
    animation: slide-in 2s forwards ease-in-out;
}


/*_______________________*/
/*       CHAR            */
/*_______________________*/
.char{
    position: fixed;
    bottom: -1rem;
    right: -1rem;
}
.char img{
    position: absolute;
    height: 35vh;
    bottom: 0;
    right: 4vw;
    transform: rotate(-3deg);
    filter: drop-shadow(20px 10px 10px  rgb(2, 2, 2, 0.7));
}

.char-blend{
    z-index: 100;
    background-color: #0D1A26;
}

.sec img{
    max-width: 500px;
    max-height: 500px;
    border-radius: 15px;
}


/*_______________________*/
/*       ANIMANTIONS     */
/*_______________________*/


@keyframes fly {
    0%{
        left: -50vw;
    }
    100%{
        left: 60vw;
    }
}

@keyframes slide-in {
    0%{
        overflow-x: hidden;
        box-shadow: none;
    }
    70%{
        overflow-x: hidden;
        left: 1;
        box-shadow: 1px 1px 1px 2px rgba(2, 2, 2, 1);
    }
    100%{
        overflow-x: visible;
        left: 0;
        box-shadow: 15px 15px 10px 10px rgba(2, 2, 2, 0.6);
    }
}

@keyframes heavy-mouse {
 
    0%{
        box-shadow: 15px 15px 10px 10px rgba(2, 2, 2, 0.6);
    }
    100%{
        box-shadow: 5px 5px 3px 3px rgba(2, 2, 2, 1);
    }
}