@font-face {
    font-family: 'mainFont';
    src: url('fonts/VarelaRound-Regular.ttf') format('truetype'); /* Legacy Browsers */
}
body{
    background-color: #C2D5B9 !important;
}

footer{
    background-color:  #142f30;
    height: 150px;
}
/*_______________________*/
/*       Parallax        */
/*_______________________*/
.parallax, .ground{
    position: relative;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallax img{
    position: absolute;
    top: -5%;
    left: -3%;
    width: 106%;
    height: 105%;
    object-fit:cover;
    transition: transform ease-out;
}

.sec{
    padding-top: 1rem;
    background-color: #193F40;
    color: #adbea4;
    padding-bottom: 5rem;
}

.parallax img#birds{
    animation: fly 60s linear infinite;
}


/*_______________________*/
/*       NAVBAR          */
/*_______________________*/

.header{
    margin-top: -100px;
    position: absolute;
    color: #a0ad99;
    font-weight: 900;
    font-size: 6rem;
    text-shadow: 6px 3px rgba(2, 2, 2, 0.6);
}
.nav-background{
    margin-top: 10px;
    min-width: 95vw;
    max-width: 95vw;
    margin-left: 2.5vw;
    position: fixed !important;
    background-color: #C2D5B9;
    box-shadow: 20px 10px 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 5;
    border-radius: 10px;
    font-family: mainFont;
    z-index: 100;
}

::-webkit-scrollbar {
    width: 1px; /* Adjust as needed */
    background-color: #193F40;
}

::-webkit-scrollbar-thumb {
    background-color: #193F40; /* Hide the scrollbar thumb */
}

/*_______________________*/
/*       CARDS           */
/*_______________________*/

.text{
    background-color: #193F40;
    color:aliceblue;
    font-family: mainFont;
}

.texture-card{
    position: relative;
    background-color:#163536 !important;
    padding: 0px 30px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #c2d5b9;
    font-family: mainFont;
    font-size: larger;
    z-index: 5;
    /*border:2px solid #74806f;*/
}
.carousel-item {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* Ensure the image doesn't exceed the carousel item's dimensions */
.carousel-item img {
    height: 100%;
    width: 100%;
}
/*
.texture-card:hover{
    animation: heavy-mouse 0.4s forwards ease-in-out ;
}
*/


/*_______________________*/
/*       CHAR            */
/*_______________________*/
.char{
    position: fixed;
    bottom: -1rem;
    right: -1rem;
}
.char img{
    position: absolute;
    height: 35vh;
    bottom: 0;
    right: 4vw;
    transform: rotate(-3deg);
    filter: drop-shadow(20px 10px 10px  rgb(194, 213, 185, 0.7));
}

.char-blend{
    z-index: 100;
    background-color: #0D1A26;
}

.sec img{
    max-width: 500px;
    max-height: 500px;
    border-radius: 15px;
}

/*_______________________*/
/*  Request fromular     */
/*_______________________*/

input, textarea{
    background-color: #b8d6c9 !important;
}


.tab-nav button{
    color:#fff!important;
    border: 2px solid #263c32 !important;
    background-color: #345d4c !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;

}
.tab-nav button.active{
    background-color: #5aa787 !important;
}
.tab-nav button:hover{
    color:#fff!important;
    border: 2px solid #263c32 !important;
    background-color: #457c65 !important;
}
.fewo-link{
    text-decoration: none;
}
/*_______________________*/
/*       SVG             */
/*_______________________*/
.path-spacer{
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 7rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 4rem;
    background-color: #163536;
    z-index: 4;
    top:1rem;
}

.path-spacer-large{
    height: 6rem;
}

.path-container{
    margin-left: 10px;
    position: relative;
    margin-top: 2rem;
    margin-bottom: -180px;
    max-height: 150px;
    max-width: 400px;
    z-index: 5;
}
path{
    stroke: #73d7ae; /* Change the stroke color as needed */
    fill: transparent;
    stroke-width:2;
    z-index: 5;
}

/*_______________________*/
/*       UTILS           */
/*_______________________*/

.hidden{
    opacity: 0;
}

/*_______________________*/
/*       ANIMANTIONS     */
/*_______________________*/


@keyframes fly {
    0%{
        left: -50vw;
    }
    100%{
        left: 60vw;
    }
}

@keyframes heavy-mouse {
 
    0%{
        box-shadow: 15px 15px 10px 10px rgba(2, 2, 2, 0.6);
    }
    100%{
        box-shadow: 5px 5px 3px 3px rgba(2, 2, 2, 1);
    }
}